.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-auto-columns: repeat(3, 350px);
  gap: 20px;
}

.contentCard {
  width: 1130px;
}

.elem {
  height: 200px;
  border: 1px solid red;
}

.searchBar {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: 20px;
  input {
    outline: 0;
    border: 0;
  }
}

.searchIcon {
  color: #aaa; /* Changez la couleur selon vos préférences */
}
